@import "tailwindcss";
@import "./theme.scss";

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Metropolis';
}