:root {
    --color-surface: #1a1a1a;
    --color-border: #2c2c2c;
  
    --color-text-primary: #eaeaea;
    --color-text-secondary: #9e9e9e;
  
    --color-accent: #1e40af;
    --color-accent-hover: #1d4ed8;
    --color-hover-bg: #2a2a2a;
  
    --color-highlight: #cfcf;
}
  